openapi: 3.0.3
info:
  description: Blockmate API OpenAPI documentation
  termsOfService: https://www.blockmate.io/term/terms-and-conditions
  title: Blockmate
  version: 0.0.2
servers:
- description: Blockmate API
  url: https://api.blockmate.io
security:
- UserJWT: []
- ProjectJWT: []
- ProjectToken: []
paths:
  /v1/auth:
    get:
      operationId: UserAPI-AuthenticateProject
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_200_response'
          description: Returns a JWT for ProjectJWT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - ProjectToken: []
      summary: Authenticate project
      tags:
      - Authentication
  /v1/auth/developer:
    get:
      operationId: UserAPI-AuthenticateDeveloper
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_200_response'
          description: "Returns a JWT for UserJWT. This is a special user, mapped\
            \ to the project. If you want to have multiple users, see User management."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - ProjectToken: []
      summary: Authenticate developer
      tags:
      - Authentication
  /v1/users:
    get:
      operationId: ListUsers
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - ProjectToken: []
      summary: List users
      tags:
      - User management
    post:
      operationId: CreateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser_request'
        description: User
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - ProjectToken: []
      summary: Create user
      tags:
      - User management
  /v1/users/{id}:
    delete:
      operationId: DeleteUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4301140e-d639-11ec-9120-00155d03ab64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUser_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUser_404_response'
          description: Not Found
      security:
      - ProjectToken: []
      summary: Delete user
      tags:
      - User management
    get:
      operationId: GetUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4301140e-d639-11ec-9120-00155d03ab64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUser_404_response'
          description: Not found
      security:
      - ProjectToken: []
      summary: Get user
      tags:
      - User management
    post:
      operationId: UpdateUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4301140e-d639-11ec-9120-00155d03ab64
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUser_request'
        description: User
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: User
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUser_404_response'
          description: Not found
      security:
      - ProjectToken: []
      summary: Update user
      tags:
      - User management
  /v1/users/{id}/auth:
    get:
      operationId: AuthUser
      parameters:
      - description: User id
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 4301140e-d639-11ec-9120-00155d03ab64
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthUser_200_response'
          description: UserJWT
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteUser_404_response'
          description: Not Found
      security:
      - ProjectToken: []
      summary: Authenticate user
      tags:
      - User management
  /v1/{account_provider}/connect:
    get:
      operationId: GetAccountHint
      parameters:
      - description: URL value from account_providers method
        explode: false
        in: path
        name: account_provider
        required: true
        schema:
          example: onchain/btc
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHint_200_response'
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHint_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHint_404_response'
          description: Not found
      security:
      - UserJWT: []
      summary: Get account hint
      tags:
      - User account management
    post:
      operationId: ConnectAccount
      parameters:
      - description: URL value from account_providers method
        explode: false
        in: path
        name: account_provider
        required: true
        schema:
          example: onchain/btc
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectAccount_request'
        description: OK
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectAccount_200_response'
          description: User
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectAccount_400_response'
          description: Bad Request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHint_403_response'
          description: Forbidden
        "405":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectAccount_405_response'
          description: Method Not Allowed
      security:
      - UserJWT: []
      summary: Connect new account
      tags:
      - User account management
  /v1/{account_provider}/account/{account_id}:
    delete:
      operationId: DeleteAccount
      parameters:
      - description: URL value from account_providers method
        explode: false
        in: path
        name: account_provider
        required: true
        schema:
          example: onchain/btc
          type: string
        style: simple
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 163b6df1-dc0b-4086-8922-6068fe1e653d
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountHint_403_response'
          description: Forbidden
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteAccount_404_response'
          description: Not found
      security:
      - UserJWT: []
      summary: Delete account
      tags:
      - User account management
  /v1/aggregate/account_providers:
    get:
      operationId: AccountProvidersList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountProvider'
                type: array
          description: List of account providers
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get list of account providers
      tags:
      - Aggregated info
  /v1/aggregate/account_provider_hints:
    get:
      operationId: AccountProviderHintsList
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AccountProviderHint'
                type: array
          description: List of account providers hints
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get list of account providers hints
      tags:
      - Aggregated info
  /v1/aggregate/accounts:
    get:
      operationId: Accounts
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Account'
                type: array
          description: List of user accounts.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: List accounts
      tags:
      - Aggregated info
  /v1/aggregate/balance:
    get:
      operationId: Balance
      parameters:
      - description: |
          Currency to convert to.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          example: USD
          type: string
        style: form
      - description: |
          Filter results to only provided account.
          When omitted, it returns all transactions from all accounts.
        explode: true
        in: query
        name: account-filter
        required: false
        schema:
          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Balance_200_response'
          description: Cumulated balance for user accounts.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get balance
      tags:
      - Aggregated info
  /v1/aggregate/transactions:
    get:
      operationId: Transactions
      parameters:
      - description: |
          Set time from which the transactions will be get.
        explode: true
        in: query
        name: since
        required: false
        schema:
          example: 2020-01-01
          format: date
          pattern: "^[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
          type: string
        style: form
      - description: |
          Set time to which the transactions will be get.
          The default value is the actual date.
        explode: true
        in: query
        name: until
        required: false
        schema:
          example: 2020-02-01
          format: date
          pattern: "^[0-9]{4}-(0?[1-9]|1[012])-(0?[1-9]|[12][0-9]|3[01])$"
          type: string
        style: form
      - description: |
          Limit the number of the transactions in the response.
          Default page size is 50.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          example: 10
          type: number
        style: form
      - description: |
          Specify on requesting the next page. Use the `page_cursor` from the previous response.
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: |
          Currency to convert to.
        explode: true
        in: query
        name: currency
        required: false
        schema:
          example: USD
          type: string
        style: form
      - description: |
          Filter results to only provided account.
          When omitted, it returns all transactions from all accounts.
        explode: true
        in: query
        name: account-filter
        required: false
        schema:
          example: 497f6eca-6276-4993-bfeb-53cbbbba6f08
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions_200_response'
          description: Get user transactions.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get transactions
      tags:
      - Aggregated info
  /v1/aggregate/nft_metadata:
    get:
      operationId: NFTMetadata
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/NFTMetadata_200_response_value'
                type: object
          description: Get NFT metadata.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get NFT metadata
      tags:
      - Aggregated info
  /v1/risk/score:
    get:
      operationId: GetAddressRiskScore
      parameters:
      - description: Address for which risk should be returned
        explode: true
        in: query
        name: address
        required: false
        schema:
          example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
          type: string
        style: form
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: false
        schema:
          example: btc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressRiskScore_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address risk score
      tags:
      - Risk info
    post:
      operationId: GetMultipleAddressRiskScore
      parameters:
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: false
        schema:
          example: btc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
                type: string
              type: array
        description: Addresses for which risk should be returned (maximum of 5000
          in one request)
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  description: risk
                  type: integer
                  x-additionalPropertiesName: address
                example:
                  bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq: 10
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get multiple risk scores for addresses
      tags:
      - Risk info
  /v1/risk/score/details:
    get:
      operationId: GetAddressRiskScoreDetails
      parameters:
      - description: Address for which risk should be returned
        explode: true
        in: query
        name: address
        required: false
        schema:
          example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
          type: string
        style: form
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: false
        schema:
          example: btc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressRiskReport'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address risk score details
      tags:
      - Risk info
  /v1/risk/score/details/{case_id}:
    get:
      operationId: GetAddressRiskScoreCase
      parameters:
      - description: Case identifier
        explode: false
        in: path
        name: case_id
        required: true
        schema:
          example: 7c656013-5e9b-4c71-8322-6562c5a9b34c
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressRiskReport'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
        "404":
          description: Not found
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address risk score case
      tags:
      - Risk info
  /v1/risk/transaction/score:
    get:
      operationId: GetTransactionRiskScore
      parameters:
      - description: Transaction hash for which risk should be returned
        explode: true
        in: query
        name: transaction
        required: false
        schema:
          example: 0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205
          type: string
        style: form
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: false
        schema:
          example: btc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTransactionRiskScore_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get transaction risk score
      tags:
      - Risk info
  /v1/risk/transaction/score/details:
    get:
      operationId: GetTransactionRiskScoreDetails
      parameters:
      - description: Transaction hash for which risk should be returned
        explode: true
        in: query
        name: transaction
        required: false
        schema:
          example: 0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205
          type: string
        style: form
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: false
        schema:
          example: btc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRiskReport'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get transaction risk score details
      tags:
      - Risk info
  /v1/risk/transaction/score/details/{case_id}:
    get:
      operationId: GetTransactionRiskScoreCase
      parameters:
      - description: Case identifier
        explode: false
        in: path
        name: case_id
        required: true
        schema:
          example: 7149168f-ad69-4fc9-b027-a16b0ca13081
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionRiskReport'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get transaction risk score case
      tags:
      - Risk info
  /v1/exchangerate/current:
    get:
      operationId: GetCurrentExchangeRate
      parameters:
      - description: Currency pairs for which exchange rate should be returned (max
          20 per request)
        explode: true
        in: query
        name: pairs
        required: true
        schema:
          example: "ETH/USD,BTC/EUR"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeRate'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get current exchange rate
      tags:
      - Exchange rate info
  /v1/exchangerate/history:
    get:
      operationId: GetHistoricalExchangeRate
      parameters:
      - description: Currency pair for which exchange rates should be returned
        explode: true
        in: query
        name: pair
        required: true
        schema:
          example: ETH/USD
          type: string
        style: form
      - description: Historical dates for which exchange rates should be returned
          (max 40 per request)
        explode: true
        in: query
        name: days
        required: true
        schema:
          example: "2022-06-30,2022-06-29"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ExchangeRate'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get historical exchange rate
      tags:
      - Exchange rate info
  /v1/addressname/simple:
    get:
      operationId: GetAddressNameInfoSingle
      parameters:
      - description: Address for which name and category should be returned
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
          type: string
        style: form
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: true
        schema:
          example: btc
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressNameInfoSingle_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address name and category info for single address
      tags:
      - Address name and category info
  /v1/addressname/multi:
    post:
      operationId: GetAddressNameInfoMulti
      parameters:
      - description: Blockchain identifier
        explode: true
        in: query
        name: chain
        required: true
        schema:
          example: btc
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              items:
                example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
                type: string
              type: array
        description: Addresses for which name and category should be returned (maximum
          of 5000 in one request)
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/GetAddressNameInfoMulti_200_response_value'
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address name and category info for multiple addresses
      tags:
      - Address name and category info
  /v1/ens/addressFromDomain:
    get:
      operationId: GetAddressFromDomain
      parameters:
      - description: ENS domain for which Ethereum address should be returned
        explode: true
        in: query
        name: domain
        required: true
        schema:
          example: alice.eth
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAddressFromDomain_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get address for specified ENS domain
      tags:
      - ENS
  /v1/ens/domainFromAddress:
    get:
      operationId: GetDomainFromAddress
      parameters:
      - description: Ethereum address for which domain and metadata should be returned
        explode: true
        in: query
        name: address
        required: true
        schema:
          example: 0xcd2e72aebe2a203b84f46deec948e6465db51c75
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDomainFromAddress_200_response'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get domain and metadata for specified ENS address
      tags:
      - ENS
  /v1/analytics/project/stats:
    get:
      description: Get analytics focused on gaming for whole project. All empty values
        are omitted from the response. Values are recalculated once per day.
      operationId: GetProjectAnalytics
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
                type: object
          description: OK
        "204":
          description: "No Content (happens when at least one account is connected,\
            \ but values were not recalculated yet)"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      - ProjectJWT: []
      summary: Get analytics focused on gaming for whole project
      tags:
      - Analytics
  /v1/analytics/user/stats:
    get:
      description: Get analytics focused on gaming for this user. All empty values
        are omitted from the response. Values are recalculated once per day.
      operationId: GetUserAnalytics
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
                type: object
          description: OK
        "204":
          description: "No Content (happens when at least one account is connected,\
            \ but values were not recalculated yet)"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get analytics focused on gaming for this user
      tags:
      - Analytics
  /v1/analytics/{account_provider}/stats:
    get:
      description: Get analytics focused on gaming for specified provider. All empty
        values are omitted from the response. Values are recalculated once per day.
      operationId: GetProviderAnalytics
      parameters:
      - description: URL value from account_providers method
        explode: false
        in: path
        name: account_provider
        required: true
        schema:
          example: onchain/btc
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  $ref: '#/components/schemas/Analytics'
                type: object
          description: OK
        "204":
          description: "No Content (happens when at least one account is connected,\
            \ but values were not recalculated yet)"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get analytics focused on gaming for specified provider
      tags:
      - Analytics
  /v1/analytics/{account_provider}/account/{account_id}/stats:
    get:
      description: Get analytics focused on gaming for specified account and provider.
        All empty values are omitted from the response. Values are recalculated once
        per day.
      operationId: GetAccountAnalytics
      parameters:
      - description: URL value from account_providers method
        explode: false
        in: path
        name: account_provider
        required: true
        schema:
          example: onchain/btc
          type: string
        style: simple
      - description: Account ID
        explode: false
        in: path
        name: account_id
        required: true
        schema:
          example: 163b6df1-dc0b-4086-8922-6068fe1e653d
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Analytics'
          description: OK
        "204":
          description: "No Content (happens when account is connected, but values\
            \ were not recalculated yet)"
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_400_response'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAPI_AuthenticateProject_401_response'
          description: Unauthorized
      security:
      - UserJWT: []
      summary: Get analytics focused on gaming for specified account and provider
      tags:
      - Analytics
components:
  schemas:
    User:
      description: Represents a user
      example:
        name: some-name
        uuid: 4301140e-d639-11ec-9120-00155d03ab64
      properties:
        uuid:
          example: 4301140e-d639-11ec-9120-00155d03ab64
          type: string
        name:
          example: some-name
          type: string
      required:
      - name
      - uuid
      title: User
      type: object
    AccountProvider:
      description: Account provider
      example:
        name: btc
        type: crypto_wallet
        url: onchain/bitcoin
      properties:
        name:
          example: btc
          type: string
        type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          example: crypto_wallet
          type: string
        url:
          example: onchain/bitcoin
          type: string
      required:
      - name
      - type
      - url
      title: Account Provider
      type: object
    Amount:
      description: Amount
      example:
        image_name: Alvibop
        currency_name: Tether USD
        currency_symbol: USDT
        image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
        converted_value: 1.2
        converted_currency: USD
        currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
        value: 1.2
      properties:
        value:
          example: 1.2
          type: number
        currency:
          example: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          type: string
        currency_name:
          example: Tether USD
          type: string
        currency_symbol:
          example: USDT
          type: string
        image_name:
          example: Alvibop
          nullable: true
          type: string
        image_url:
          example: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          nullable: true
          type: string
        converted_currency:
          example: USD
          type: string
        converted_value:
          example: 1.2
          type: number
      required:
      - currency
      - currency_name
      - currency_symbol
      - value
      title: Amount
      type: object
    Movement:
      description: Movement
      example:
        address: 0xc50e6db1637423819edbccb20b15654338d65501
        currency_name: Tether USD
        currency_symbol: USDT
        image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
        fee: false
        converted_currency: USD
        image_name: Alvibop
        owned: true
        converted_value: 1.2
        name: name
        currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
        category: exchange
        value: 1.2
      properties:
        address:
          example: 0xc50e6db1637423819edbccb20b15654338d65501
          type: string
        currency:
          example: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          type: string
        currency_name:
          example: Tether USD
          type: string
        currency_symbol:
          example: USDT
          type: string
        value:
          example: 1.2
          type: number
        owned:
          example: true
          type: boolean
        fee:
          example: false
          type: boolean
        image_name:
          example: Alvibop
          nullable: true
          type: string
        image_url:
          example: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          nullable: true
          type: string
        converted_currency:
          example: USD
          type: string
        converted_value:
          example: 1.2
          type: number
        name:
          description: name if known
          type: string
        category:
          description: category if known
          example: exchange
          type: string
      required:
      - address
      - currency
      - currency_name
      - currency_symbol
      - fee
      - owned
      - value
      title: Movement
      type: object
    AccountProviderHint:
      description: Account provider hint containing info about what is needed to connect
        such an account
      example:
        account_type: crypto_wallet
        account_name: btc
        intro: Use your address to connect your account.
        account_url: onchain/btc
        icon: https://api.blockmate.io/v1/onchain/static/bitcoin.png
        description: Bitcoin (BTC)
        fields:
          wallet: Address
          api_key: API Key
          api_passphrase: API Passphrase
          description: Account description
          api_secret: API Secret
        oauth: false
        url: https://bitcoin.com
      properties:
        account_name:
          example: btc
          type: string
        account_type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          example: crypto_wallet
          type: string
        account_url:
          example: onchain/btc
          type: string
        description:
          example: Bitcoin (BTC)
          type: string
        url:
          example: https://bitcoin.com
          type: string
        intro:
          example: Use your address to connect your account.
          type: string
        fields:
          $ref: '#/components/schemas/AccountProviderHint_fields'
        oauth:
          example: false
          type: boolean
        icon:
          example: https://api.blockmate.io/v1/onchain/static/bitcoin.png
          type: string
      required:
      - account_name
      - account_type
      - account_url
      - description
      - fields
      - icon
      - info
      - oauth
      - url
      title: Account Provider Hint
      type: object
    OwnedNft:
      description: OwnedNft
      properties:
        contract:
          $ref: '#/components/schemas/OwnedNft_contract'
        id:
          $ref: '#/components/schemas/NftId'
        balance:
          description: String - Token balance
          type: string
        title:
          description: String - Name of the NFT asset.
          type: string
        description:
          description: String - Brief human-readable description
          type: string
        tokenUri:
          $ref: '#/components/schemas/NftTokenUri'
        media:
          $ref: '#/components/schemas/OwnedNft_media'
        metadata:
          $ref: '#/components/schemas/metadata'
        timeLastUpdated:
          description: String - ISO timestamp of the last cache refresh for the information
            returned in the metadata field.
          type: string
        error:
          description: String - A string describing a particular reason that we were
            unable to fetch complete metadata for the NFT.
          type: string
        contractMetadata:
          $ref: '#/components/schemas/NftContractMetadata'
        spamInfo:
          $ref: '#/components/schemas/NftSpamInfo'
      title: OwnedNft
      type: object
    NftTokenType:
      description: String - 'ERC721' or 'ERC1155'
      type: string
    NftRaw:
      description: String - Uri representing the location of the NFT's original metadata
        blob. This is a backup for you to parse when the metadata field is not automatically
        populated.
      type: string
    NftGateway:
      description: String - Public gateway uri for the raw uri above.
      type: string
    NftId:
      properties:
        tokenId:
          description: String - The ID of the token. Can be in hex or decimal format.
          type: string
        tokenMetadata:
          $ref: '#/components/schemas/NftId_tokenMetadata'
      type: object
    NftTokenUri:
      properties:
        raw:
          description: String - Uri representing the location of the NFT's original
            metadata blob. This is a backup for you to parse when the metadata field
            is not automatically populated.
          type: string
        gateway:
          description: String - Public gateway uri for the raw uri above.
          type: string
      type: object
    metadata:
      description: "String - Relevant metadata for NFT contract. This is useful for\
        \ viewing image url, traits, etc. without having to follow the metadata url\
        \ in tokenUri to parse manually."
      properties:
        image:
          description: "String - URL to the NFT asset image. Can be standard URLs\
            \ pointing to images on conventional servers, IPFS, or Arweave. Most types\
            \ of images (SVGs, PNGs, JPEGs, etc.) are supported by NFT marketplaces."
          type: string
        external_url:
          description: String - The image URL that appears alongside the asset image
            on NFT platforms.
          type: string
        background_color:
          description: String - Background color of the NFT item. Usually must be
            defined as a six-character hexadecimal.
          type: string
        name:
          description: String - Name of the NFT asset.
          type: string
        description:
          description: String - Human-readable description of the NFT asset. (Markdown
            is supported/rendered on OpenSea and other NFT platforms)
          type: string
        attributes:
          description: Object - Traits/attributes/characteristics for each NFT asset.
          items:
            $ref: '#/components/schemas/metadata_attributes_inner'
          type: array
        media:
          $ref: '#/components/schemas/NftMedia'
      type: object
    NftMedia:
      properties:
        raw:
          description: String - Uri representing the location of the NFT's original
            metadata blob. This is a backup for you to parse when the metadata field
            is not automatically populated.
          type: string
        gateway:
          description: String - Public gateway uri for the raw uri above.
          type: string
        thumbnail:
          description: URL for a resized thumbnail of the NFT media asset.
          type: string
        format:
          description: "The media format (jpg, gif, png, etc.) of the gateway and\
            \ thumbnail assets."
          type: string
        bytes:
          description: The size of the media asset in bytes.
          type: integer
      type: object
    NftContractMetadata:
      properties:
        name:
          description: String - NFT contract name.
          type: string
        symbol:
          description: String - NFT contract symbol abbreviation.
          type: string
        totalSupply:
          description: String - Total number of NFTs in a given NFT collection.
          type: string
        tokenType:
          description: String - 'ERC721' or 'ERC1155'
          type: string
      type: object
    NftSpamInfo:
      description: Information about whether and why a contract was marked as spam.
      properties:
        isSpam:
          description: "\"true\" if contract is spam, else \"false\""
          type: string
        classifications:
          description: List of reasons why a contract was classified as spam.
          items:
            type: string
          type: array
      type: object
    AddressRiskReport:
      description: AddressRiskReport
      example:
        chain: eth
        address: 0xc50e6db1637423819edbccb20b15654338d65501
        case_id: 7c656013-5e9b-4c71-8322-6562c5a9b34c
        risk: 85
        details:
          own_categories:
          - category_name: some-category-name
            name: some-name
            adress: 0xc50e6db1637423819edbccb20b15654338d65501
            risk: 85
          - category_name: some-category-name
            name: some-name
            adress: 0xc50e6db1637423819edbccb20b15654338d65501
            risk: 85
          source_of_funds_categories:
          - category_name: some-category-name
            name: some-name
            adress: 0xc50e6db1637423819edbccb20b15654338d65501
            risk: 85
          - category_name: some-category-name
            name: some-name
            adress: 0xc50e6db1637423819edbccb20b15654338d65501
            risk: 85
        request_datetime: 2022-10-04T12:32:44Z
        response_datetime: 2022-10-04T12:32:44Z
      properties:
        case_id:
          example: 7c656013-5e9b-4c71-8322-6562c5a9b34c
          type: string
        request_datetime:
          example: 2022-10-04T12:32:44Z
          type: string
        response_datetime:
          example: 2022-10-04T12:32:44Z
          type: string
        address:
          example: 0xc50e6db1637423819edbccb20b15654338d65501
          type: string
        chain:
          example: eth
          type: string
        risk:
          example: 85
          maximum: 100
          minimum: 0
          type: integer
        details:
          $ref: '#/components/schemas/AddressRiskReport_details'
      required:
      - address
      - chain
      - details
      - risk
      title: AddressRiskReport
      type: object
    TransactionRiskReport:
      description: TransactionRiskReport
      example:
        chain: btc
        case_id: 7149168f-ad69-4fc9-b027-a16b0ca13081
        risk: 85
        details:
          key:
            own_categories:
            - category_name: some-category-name
              name: some-name
              adress: 0xc50e6db1637423819edbccb20b15654338d65501
              risk: 85
            - category_name: some-category-name
              name: some-name
              adress: 0xc50e6db1637423819edbccb20b15654338d65501
              risk: 85
            source_of_funds_categories:
            - category_name: some-category-name
              name: some-name
              adress: 0xc50e6db1637423819edbccb20b15654338d65501
              risk: 85
            - category_name: some-category-name
              name: some-name
              adress: 0xc50e6db1637423819edbccb20b15654338d65501
              risk: 85
        request_datetime: 2022-10-04T12:32:44Z
        response_datetime: 2022-10-04T12:32:44Z
        transaction: 0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205
      properties:
        case_id:
          example: 7149168f-ad69-4fc9-b027-a16b0ca13081
          type: string
        request_datetime:
          example: 2022-10-04T12:32:44Z
          type: string
        response_datetime:
          example: 2022-10-04T12:32:44Z
          type: string
        transaction:
          example: 0638e15482e9d0fdb08920666390a546f32dd6ab15ffc81ed97e67b73b0d7205
          type: string
        chain:
          example: btc
          type: string
        risk:
          example: 85
          maximum: 100
          minimum: 0
          type: integer
        details:
          additionalProperties:
            $ref: '#/components/schemas/TransactionRiskReport_details_value'
          description: Keys are addresses from transaction inputs or outputs
          type: object
      required:
      - address
      - chain
      - details
      - risk
      title: TransactionRiskReport
      type: object
    RiskReportCategory:
      description: RiskReportCategory
      example:
        category_name: some-category-name
        name: some-name
        adress: 0xc50e6db1637423819edbccb20b15654338d65501
        risk: 85
      properties:
        adress:
          example: 0xc50e6db1637423819edbccb20b15654338d65501
          type: string
        name:
          example: some-name
          type: string
        category_name:
          example: some-category-name
          type: string
        risk:
          example: 85
          maximum: 100
          minimum: 0
          type: integer
      required:
      - category_name
      - name
      - risk
      title: RiskReportCategory
      type: object
    ExchangeRate:
      description: ExchangeRate
      example:
        date: 2022-06-30
        currency_pair: eth/usd
        rate: 1053.9613
      properties:
        currency_pair:
          example: eth/usd
          type: string
        date:
          example: 2022-06-30
          type: string
        rate:
          example: 1053.9613
          type: number
      required:
      - currency_pair
      - date
      - rate
      title: ExchangeRate
      type: object
    Analytics:
      additionalProperties:
        $ref: '#/components/schemas/Analytics_1'
      description: Analytics
      example:
        count_txs_all_forever_gambling: 1
        count_txs_out_30_gaming: 1
        count_txs_all_365_gaming: 1
        count_txs_all_30_gambling: 1
        count_txs_out_7_nft: 1
        first_txs_out_onchain: 1674481020
        last_txs_in_gaming: 1674481020
        count_txs_all_30_nft: 1
        count_txs_in_forever_gaming: 1
        count_txs_in_31_60_nft: 1
        count_txs_out_forever_gambling: 1
        count_txs_all_forever_onchain: 1
        count_txs_in_7_gaming: 1
        first_txs_in_nft: 1674481020
        last_txs_in_onchain: 1674481020
        count_txs_all_31_60_gambling: 1
        last_txs_in_nft: 1674481020
        count_txs_in_31_60_gaming: 1
        last_txs_in_gambling: 1674481020
        first_txs_all_nft: 1674481020
        count_txs_out_31_60_gaming: 1
        count_txs_all_7_gambling: 1
        count_txs_all_30_gaming: 1
        first_txs_in_gaming: 1674481020
        last_txs_all_gaming: 1674481020
        count_txs_out_31_60_nft: 1
        first_txs_out_gambling: 1674481020
        count_txs_out_31_60_gambling: 1
        count_txs_in_forever_onchain: 1
        count_txs_all_365_onchain: 1
        count_txs_out_forever_nft: 1
        last_txs_out_gaming: 1674481020
        last_txs_out_nft: 1674481020
        count_txs_in_31_60_onchain: 1
        count_txs_all_31_60_onchain: 1
        count_txs_out_365_nft: 1
        count_txs_out_forever_gaming: 1
        count_txs_all_7_nft: 1
        count_txs_all_31_60_nft: 1
        count_txs_all_forever_nft: 1
        count_txs_all_30_onchain: 1
        count_txs_out_30_onchain: 1
        count_txs_in_365_gaming: 1
        last_txs_all_nft: 1674481020
        count_txs_in_30_gaming: 1
        count_txs_in_7_onchain: 1
        count_txs_out_30_nft: 1
        count_txs_all_7_gaming: 1
        count_txs_all_365_nft: 1
        last_txs_out_onchain: 1674481020
        count_txs_out_30_gambling: 1
        count_txs_all_forever_gaming: 1
        last_txs_all_gambling: 1674481020
        count_txs_out_7_gambling: 1
        last_txs_all_onchain: 1674481020
        count_txs_in_7_nft: 1
        count_txs_in_365_onchain: 1
        first_txs_in_gambling: 1674481020
        count_txs_out_365_gambling: 1
        count_txs_in_31_60_gambling: 1
        first_txs_all_gambling: 1674481020
        count_txs_out_31_60_onchain: 1
        count_txs_in_forever_gambling: 1
        count_txs_out_forever_onchain: 1
        first_txs_out_gaming: 1674481020
        count_txs_in_forever_nft: 1
        count_txs_in_365_gambling: 1
        count_txs_in_30_nft: 1
        first_txs_all_gaming: 1674481020
        count_txs_all_365_gambling: 1
        count_txs_out_365_onchain: 1
        count_txs_in_30_gambling: 1
        first_txs_in_onchain: 1674481020
        first_txs_out_nft: 1674481020
        count_txs_all_31_60_gaming: 1
        count_txs_out_365_gaming: 1
        count_txs_out_7_gaming: 1
        last_txs_out_gambling: 1674481020
        count_txs_all_7_onchain: 1
        count_txs_in_7_gambling: 1
        count_txs_in_30_onchain: 1
        count_txs_out_7_onchain: 1
        count_txs_in_365_nft: 1
        first_txs_all_onchain: 1674481020
      properties:
        count_txs_all_forever_onchain:
          description: Transactions count
          example: 1
          type: integer
        count_txs_all_forever_nft:
          description: NFT transactions count
          example: 1
          type: integer
        count_txs_all_forever_gaming:
          description: Gaming transactions count
          example: 1
          type: integer
        count_txs_all_forever_gambling:
          description: Gambling transactions count
          example: 1
          type: integer
        count_txs_all_365_onchain:
          description: Transactions count during last year
          example: 1
          type: integer
        count_txs_all_365_nft:
          description: NFT transactions count during last year
          example: 1
          type: integer
        count_txs_all_365_gaming:
          description: Gaming transactions count during last year
          example: 1
          type: integer
        count_txs_all_365_gambling:
          description: Gambling transactions count during last year
          example: 1
          type: integer
        count_txs_all_31_60_onchain:
          description: Transactions count during previous month
          example: 1
          type: integer
        count_txs_all_31_60_nft:
          description: NFT transactions count during previous month
          example: 1
          type: integer
        count_txs_all_31_60_gaming:
          description: Gaming transactions count during previous month
          example: 1
          type: integer
        count_txs_all_31_60_gambling:
          description: Gambling transactions count during previous month
          example: 1
          type: integer
        count_txs_all_30_onchain:
          description: Transactions count during last month
          example: 1
          type: integer
        count_txs_all_30_nft:
          description: NFT transactions count during last month
          example: 1
          type: integer
        count_txs_all_30_gaming:
          description: Gaming transactions count during last month
          example: 1
          type: integer
        count_txs_all_30_gambling:
          description: Gambling transactions count during last month
          example: 1
          type: integer
        count_txs_all_7_onchain:
          description: Transactions count during last week
          example: 1
          type: integer
        count_txs_all_7_nft:
          description: NFT transactions count during last week
          example: 1
          type: integer
        count_txs_all_7_gaming:
          description: Gaming transactions count during last week
          example: 1
          type: integer
        count_txs_all_7_gambling:
          description: Gambling transactions count during last week
          example: 1
          type: integer
        count_txs_in_forever_onchain:
          description: IN transactions count
          example: 1
          type: integer
        count_txs_in_forever_nft:
          description: IN NFT transactions count
          example: 1
          type: integer
        count_txs_in_forever_gaming:
          description: IN gaming transactions count
          example: 1
          type: integer
        count_txs_in_forever_gambling:
          description: IN gambling transactions count
          example: 1
          type: integer
        count_txs_in_365_onchain:
          description: IN transactions count during last year
          example: 1
          type: integer
        count_txs_in_365_nft:
          description: IN NFT transactions count during last year
          example: 1
          type: integer
        count_txs_in_365_gaming:
          description: IN gaming transactions count during last year
          example: 1
          type: integer
        count_txs_in_365_gambling:
          description: IN gambling transactions count during last year
          example: 1
          type: integer
        count_txs_in_31_60_onchain:
          description: IN transactions count during previous month
          example: 1
          type: integer
        count_txs_in_31_60_nft:
          description: IN NFT transactions count during previous month
          example: 1
          type: integer
        count_txs_in_31_60_gaming:
          description: IN gaming transactions count during previous month
          example: 1
          type: integer
        count_txs_in_31_60_gambling:
          description: IN gambling transactions count during previous month
          example: 1
          type: integer
        count_txs_in_30_onchain:
          description: IN transactions count during last month
          example: 1
          type: integer
        count_txs_in_30_nft:
          description: IN NFT transactions count during last month
          example: 1
          type: integer
        count_txs_in_30_gaming:
          description: IN gaming transactions count during last month
          example: 1
          type: integer
        count_txs_in_30_gambling:
          description: IN gambling transactions count during last month
          example: 1
          type: integer
        count_txs_in_7_onchain:
          description: IN transactions count during last week
          example: 1
          type: integer
        count_txs_in_7_nft:
          description: IN NFT transactions count during last week
          example: 1
          type: integer
        count_txs_in_7_gaming:
          description: IN gaming transactions count during last week
          example: 1
          type: integer
        count_txs_in_7_gambling:
          description: IN gambling transactions count during last week
          example: 1
          type: integer
        count_txs_out_forever_onchain:
          description: OUT transactions count
          example: 1
          type: integer
        count_txs_out_forever_nft:
          description: OUT NFT transactions count
          example: 1
          type: integer
        count_txs_out_forever_gaming:
          description: OUT gaming transactions count
          example: 1
          type: integer
        count_txs_out_forever_gambling:
          description: OUT gambling transactions count
          example: 1
          type: integer
        count_txs_out_365_onchain:
          description: OUT transactions count during last year
          example: 1
          type: integer
        count_txs_out_365_nft:
          description: OUT NFT transactions count during last year
          example: 1
          type: integer
        count_txs_out_365_gaming:
          description: OUT gaming transactions count during last year
          example: 1
          type: integer
        count_txs_out_365_gambling:
          description: OUT gambling transactions count during last year
          example: 1
          type: integer
        count_txs_out_31_60_onchain:
          description: OUT transactions count during previous month
          example: 1
          type: integer
        count_txs_out_31_60_nft:
          description: OUT NFT transactions count during previous month
          example: 1
          type: integer
        count_txs_out_31_60_gaming:
          description: OUT gaming transactions count during previous month
          example: 1
          type: integer
        count_txs_out_31_60_gambling:
          description: OUT gambling transactions count during previous month
          example: 1
          type: integer
        count_txs_out_30_onchain:
          description: OUT transactions count during last month
          example: 1
          type: integer
        count_txs_out_30_nft:
          description: OUT NFT transactions count during last month
          example: 1
          type: integer
        count_txs_out_30_gaming:
          description: OUT gaming transactions count during last month
          example: 1
          type: integer
        count_txs_out_30_gambling:
          description: OUT gambling transactions count during last month
          example: 1
          type: integer
        count_txs_out_7_onchain:
          description: OUT transactions count during last week
          example: 1
          type: integer
        count_txs_out_7_nft:
          description: OUT NFT transactions count during last week
          example: 1
          type: integer
        count_txs_out_7_gaming:
          description: OUT gaming transactions count during last week
          example: 1
          type: integer
        count_txs_out_7_gambling:
          description: OUT gambling transactions count during last week
          example: 1
          type: integer
        first_txs_all_onchain:
          description: Unix timestamp when first transaction occurred
          example: 1674481020
          type: integer
        first_txs_all_nft:
          description: Unix timestamp when first NFT transaction occurred
          example: 1674481020
          type: integer
        first_txs_all_gaming:
          description: Unix timestamp when first gaming transaction occurred
          example: 1674481020
          type: integer
        first_txs_all_gambling:
          description: Unix timestamp when first gambling transaction occurred
          example: 1674481020
          type: integer
        first_txs_in_onchain:
          description: Unix timestamp when first IN transaction occurred
          example: 1674481020
          type: integer
        first_txs_in_nft:
          description: Unix timestamp when first IN NFT transaction occurred
          example: 1674481020
          type: integer
        first_txs_in_gaming:
          description: Unix timestamp when first IN gaming transaction occurred
          example: 1674481020
          type: integer
        first_txs_in_gambling:
          description: Unix timestamp when first IN gambling transaction occurred
          example: 1674481020
          type: integer
        first_txs_out_onchain:
          description: Unix timestamp when first OUT transaction occurred
          example: 1674481020
          type: integer
        first_txs_out_nft:
          description: Unix timestamp when first OUT NFT transaction occurred
          example: 1674481020
          type: integer
        first_txs_out_gaming:
          description: Unix timestamp when first OUT gaming transaction occurred
          example: 1674481020
          type: integer
        first_txs_out_gambling:
          description: Unix timestamp when first OUT gambling transaction occurred
          example: 1674481020
          type: integer
        last_txs_all_onchain:
          description: Unix timestamp when last transaction occurred
          example: 1674481020
          type: integer
        last_txs_all_nft:
          description: Unix timestamp when last NFT transaction occurred
          example: 1674481020
          type: integer
        last_txs_all_gaming:
          description: Unix timestamp when last gaming transaction occurred
          example: 1674481020
          type: integer
        last_txs_all_gambling:
          description: Unix timestamp when last gambling transaction occurred
          example: 1674481020
          type: integer
        last_txs_in_onchain:
          description: Unix timestamp when last IN transaction occurred
          example: 1674481020
          type: integer
        last_txs_in_nft:
          description: Unix timestamp when last IN NFT transaction occurred
          example: 1674481020
          type: integer
        last_txs_in_gaming:
          description: Unix timestamp when last IN gaming transaction occurred
          example: 1674481020
          type: integer
        last_txs_in_gambling:
          description: Unix timestamp when last IN gambling transaction occurred
          example: 1674481020
          type: integer
        last_txs_out_onchain:
          description: Unix timestamp when last OUT transaction occurred
          example: 1674481020
          type: integer
        last_txs_out_nft:
          description: Unix timestamp when last OUT NFT transaction occurred
          example: 1674481020
          type: integer
        last_txs_out_gaming:
          description: Unix timestamp when last OUT gaming transaction occurred
          example: 1674481020
          type: integer
        last_txs_out_gambling:
          description: Unix timestamp when last OUT gambling transaction occurred
          example: 1674481020
          type: integer
      title: Analytics
      type: object
    UserAPI_AuthenticateProject_200_response:
      example:
        token: some-token
      properties:
        token:
          example: some-token
          type: string
      required:
      - token
      type: object
    UserAPI_AuthenticateProject_400_response:
      properties:
        message:
          example: missing key in request header
          type: string
      type: object
    UserAPI_AuthenticateProject_401_response:
      properties:
        message:
          example: Unauthorized
          type: string
      type: object
    CreateUser_request:
      properties:
        name:
          example: some-name
          type: string
      type: object
    GetUser_404_response:
      properties:
        message:
          type: string
      type: object
    DeleteUser_200_response:
      example:
        message: OK
      properties:
        message:
          example: OK
          type: string
      type: object
    DeleteUser_404_response:
      properties:
        message:
          example: Not Found
          type: string
      type: object
    AuthUser_200_response:
      example:
        token: some-token
      properties:
        token:
          description: UserJWT
          example: some-token
          type: string
      type: object
    GetAccountHint_200_response_fields:
      additionalProperties:
        type: string
      example:
        wallet: Address
        description: Account description
      properties:
        description:
          example: Account description
          type: string
        wallet:
          example: Address
          type: string
      type: object
    GetAccountHint_200_response:
      example:
        intro: Use your address to connect your account.
        icon: https://api.blockmate.io/v1/onchain/static/bitcoin.png
        description: Bitcoin (BTC)
        fields:
          wallet: Address
          description: Account description
        oauth: false
        url: some-url
      properties:
        description:
          example: Bitcoin (BTC)
          type: string
        url:
          example: some-url
          type: string
        intro:
          example: Use your address to connect your account.
          type: string
        fields:
          $ref: '#/components/schemas/GetAccountHint_200_response_fields'
        oauth:
          example: false
          type: boolean
        icon:
          example: https://api.blockmate.io/v1/onchain/static/bitcoin.png
          type: string
      required:
      - description
      - fields
      - intro
      - oauth
      - url
      type: object
    GetAccountHint_403_response:
      properties:
        detail:
          example: Invalid token or expired token.
          type: string
      type: object
    GetAccountHint_404_response:
      properties:
        status:
          example: not_found
          type: string
      type: object
    ConnectAccount_request:
      properties:
        wallet:
          example: bc1qjl7k0dpcsw3djmzq25qv6peavgxysq95pcduuq
          type: string
        description:
          example: some-description
          type: string
      required:
      - description
      - wallet
      type: object
    ConnectAccount_200_response:
      example:
        name: some-name
        verified: false
        description: some-description
        id: 163b6df1-dc0b-4086-8922-6068fe1e653d
      properties:
        id:
          example: 163b6df1-dc0b-4086-8922-6068fe1e653d
          type: string
        name:
          example: some-name
          type: string
        description:
          example: some-description
          type: string
        verified:
          example: false
          type: boolean
      required:
      - description
      - id
      - name
      - verified
      type: object
    ConnectAccount_400_response:
      properties:
        detail:
          example: Account wallet already connected.
          type: string
      type: object
    ConnectAccount_405_response:
      properties:
        detail:
          example: Method Not Allowed
          type: string
      type: object
    DeleteAccount_404_response:
      properties:
        detail:
          example: Not Found
          type: string
      type: object
    Account:
      description: Represents an account.
      example:
        name: btc
        verified: true
        description: My account
        id: 4cf7cf36-52a2-11ec-85b8-00155de33000
        type: crypto_wallet
        url: onchain/bitcoin/account/4cf7cf36-52a2-11ec-85b8-00155de33000
      properties:
        id:
          example: 4cf7cf36-52a2-11ec-85b8-00155de33000
          type: string
        name:
          example: btc
          type: string
        description:
          example: My account
          type: string
        verified:
          example: true
          type: boolean
        type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          example: crypto_wallet
          type: string
        url:
          example: onchain/bitcoin/account/4cf7cf36-52a2-11ec-85b8-00155de33000
          type: string
      required:
      - description
      - id
      - name
      - type
      - url
      - verified
      title: Account
      type: object
    Balance_response_accounts_inner_state:
      example:
        last_sync: 2022-07-21T09:21:37.384496+00:00
      properties:
        last_sync:
          description: null if initial sync was not yet done
          example: 2022-07-21T09:21:37.384496+00:00
          nullable: true
          type: string
      type: object
    Balance_response_accounts_inner:
      example:
        account_id: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
        balance:
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        name: some-name
        verified: true
        description: My account
        state:
          last_sync: 2022-07-21T09:21:37.384496+00:00
        type: crypto_wallet
        url: some-url
      properties:
        account_id:
          example: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
          type: string
        description:
          example: My account
          type: string
        type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          type: string
        balance:
          items:
            $ref: '#/components/schemas/Amount'
          type: array
        state:
          $ref: '#/components/schemas/Balance_response_accounts_inner_state'
        name:
          example: some-name
          type: string
        verified:
          example: true
          type: boolean
        url:
          example: some-url
          type: string
      required:
      - account_id
      - balance
      - description
      - name
      - state
      - type
      - url
      - verified
      type: object
    Balance_response:
      description: Represents a response from aggregated balance request.
      example:
        balance_sum:
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        accounts:
        - account_id: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
          balance:
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          name: some-name
          verified: true
          description: My account
          state:
            last_sync: 2022-07-21T09:21:37.384496+00:00
          type: crypto_wallet
          url: some-url
        - account_id: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
          balance:
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          name: some-name
          verified: true
          description: My account
          state:
            last_sync: 2022-07-21T09:21:37.384496+00:00
          type: crypto_wallet
          url: some-url
      properties:
        balance_sum:
          items:
            $ref: '#/components/schemas/Amount'
          type: array
        accounts:
          items:
            $ref: '#/components/schemas/Balance_response_accounts_inner'
          type: array
      required:
      - accounts
      - balance_sum
      title: Balance response
      type: object
    Balance_200_response:
      example:
        balance:
          balance_sum:
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          - image_name: Alvibop
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            converted_value: 1.2
            converted_currency: USD
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            value: 1.2
          accounts:
          - account_id: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
            balance:
            - image_name: Alvibop
              currency_name: Tether USD
              currency_symbol: USDT
              image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
              converted_value: 1.2
              converted_currency: USD
              currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
              value: 1.2
            - image_name: Alvibop
              currency_name: Tether USD
              currency_symbol: USDT
              image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
              converted_value: 1.2
              converted_currency: USD
              currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
              value: 1.2
            name: some-name
            verified: true
            description: My account
            state:
              last_sync: 2022-07-21T09:21:37.384496+00:00
            type: crypto_wallet
            url: some-url
          - account_id: 9f0f06ae-08d7-11ed-b3ef-00155d0eaa6e
            balance:
            - image_name: Alvibop
              currency_name: Tether USD
              currency_symbol: USDT
              image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
              converted_value: 1.2
              converted_currency: USD
              currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
              value: 1.2
            - image_name: Alvibop
              currency_name: Tether USD
              currency_symbol: USDT
              image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
              converted_value: 1.2
              converted_currency: USD
              currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
              value: 1.2
            name: some-name
            verified: true
            description: My account
            state:
              last_sync: 2022-07-21T09:21:37.384496+00:00
            type: crypto_wallet
            url: some-url
      properties:
        balance:
          $ref: '#/components/schemas/Balance_response'
      required:
      - balance
      type: object
    Transactions_200_response_accounts_inner:
      example:
        verified: true
        description: My account
        id: 0940bb4a-0940-11ed-9ed1-00155d5116f0
        state:
          last_sync: 2022-07-21T09:21:37.384496+00:00
        type: crypto_wallet
      properties:
        id:
          example: 0940bb4a-0940-11ed-9ed1-00155d5116f0
          type: string
        description:
          example: My account
          type: string
        verified:
          example: true
          type: boolean
        type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          example: crypto_wallet
          type: string
        state:
          $ref: '#/components/schemas/Balance_response_accounts_inner_state'
      required:
      - description
      - id
      - state
      - type
      - verified
      type: object
    Transaction:
      description: Represents a transaction.
      example:
        transaction_id: 0xf77c19d9333bb26fd9d6773a18a8b5fd145e2fbb514ff2879cb478e13e2f8c23
        outputs:
        - address: 0xc50e6db1637423819edbccb20b15654338d65501
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          fee: false
          converted_currency: USD
          image_name: Alvibop
          owned: true
          converted_value: 1.2
          name: name
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          category: exchange
          value: 1.2
        - address: 0xc50e6db1637423819edbccb20b15654338d65501
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          fee: false
          converted_currency: USD
          image_name: Alvibop
          owned: true
          converted_value: 1.2
          name: name
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          category: exchange
          value: 1.2
        side: some-side
        amount:
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        total:
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        account_id: 0940bb4a-0940-11ed-9ed1-00155d5116f0
        inputs:
        - address: 0xc50e6db1637423819edbccb20b15654338d65501
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          fee: false
          converted_currency: USD
          image_name: Alvibop
          owned: true
          converted_value: 1.2
          name: name
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          category: exchange
          value: 1.2
        - address: 0xc50e6db1637423819edbccb20b15654338d65501
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          fee: false
          converted_currency: USD
          image_name: Alvibop
          owned: true
          converted_value: 1.2
          name: name
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          category: exchange
          value: 1.2
        fee:
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        - image_name: Alvibop
          currency_name: Tether USD
          currency_symbol: USDT
          image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
          converted_value: 1.2
          converted_currency: USD
          currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
          value: 1.2
        created_at: 2022-07-21T09:21:37.384496+00:00
        type: crypto_wallet
      properties:
        account_id:
          example: 0940bb4a-0940-11ed-9ed1-00155d5116f0
          type: string
        transaction_id:
          example: 0xf77c19d9333bb26fd9d6773a18a8b5fd145e2fbb514ff2879cb478e13e2f8c23
          type: string
        type:
          enum:
          - crypto_wallet
          - crypto_exchange
          - crypto_nft
          example: crypto_wallet
          type: string
        side:
          example: some-side
          type: string
        amount:
          items:
            $ref: '#/components/schemas/Amount'
          type: array
        total:
          items:
            $ref: '#/components/schemas/Amount'
          type: array
        fee:
          items:
            $ref: '#/components/schemas/Amount'
          type: array
        created_at:
          example: 2022-07-21T09:21:37.384496+00:00
          type: string
        inputs:
          items:
            $ref: '#/components/schemas/Movement'
          type: array
        outputs:
          items:
            $ref: '#/components/schemas/Movement'
          type: array
      required:
      - account_id
      - amount
      - created_at
      - fee
      - inputs
      - outputs
      - total
      - transaction_id
      - type
      title: Transaction
      type: object
    Transactions_200_response:
      example:
        page_cursor: page_cursor
        accounts:
        - verified: true
          description: My account
          id: 0940bb4a-0940-11ed-9ed1-00155d5116f0
          state:
            last_sync: 2022-07-21T09:21:37.384496+00:00
          type: crypto_wallet
        - verified: true
          description: My account
          id: 0940bb4a-0940-11ed-9ed1-00155d5116f0
          state:
            last_sync: 2022-07-21T09:21:37.384496+00:00
          type: crypto_wallet
        transactions:
        - transaction_id: 0xf77c19d9333bb26fd9d6773a18a8b5fd145e2fbb514ff2879cb478e13e2f8c23
          outputs:
          - address: 0xc50e6db1637423819edbccb20b15654338d65501
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            fee: false
            converted_currency: USD
            image_name: Alvibop
            owned: true
            converted_value: 1.2
            name: name
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            category: exchange
            value: 1.2
          - address: 0xc50e6db1637423819edbccb20b15654338d65501
            currency_name: Tether USD
            currency_symbol: USDT
            image_url: https://storage.googleapis.com/starly-prod.appspot.com/users/07SXODs3nHWOc0udxtCA7hU9KgR2/collections/pSYegq3aubUCodcy1t4u/cards/16/converted_cover1632338824700_600x800.mp4
            fee: false
            converted_currency: USD
            image_name: Alvibop
            owned: true
            converted_value: 1.2
            name: name
            currency: ETHEREUM:0xdAC17F958D2ee523a2206206994597C13D831ec7
            category: exchange
            value: 1.2
          side: some-side
          amount:
[...]
